.selectTime{
    margin-left: 100px;
}
.startTime{
    margin-right: 80px;
}
h5{
    margin-left: 300px;
}
.vertical {
    border-left: 2px solid black;
    height: 350px;
    position:absolute;
    left: 5%;
}